<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>チームの詳細</title>
</head>
<body>
	<h5>球団名</h5>
	<span th:text="${team.teamName}"></span>
	<h5>本拠地</h5>
	<span th:text="${team.headquarters}"></span>
	<h5>発足</h5>
	<span th:text="${team.inauguration}"></span>
	<h5>歴史</h5>
	<th:block th:if="${team.history}">
		<th:block th:each="str, stat : ${team.history.split('\r\n|\r|\n', -1)}">
        	<th:block th:text="${str}"/>
        	<br th:if="${!stat.last}"/>
		</th:block>
	</th:block>
	<form th:action="@{/team/list}" method="post">
		<button>戻る</button>
	</form>
</body>
</html>